<ion-content>
    <ion-list lines="full">
        <ion-item tappable id="open-modal" (click)="openModal()">
            <ion-label>Edit List</ion-label>
            <ion-icon name="information-circle-outline" slot="end"></ion-icon>
        </ion-item>
        <ion-item (click)="deleteList()" tappable lines="none">
            <ion-label color="danger">Delete List</ion-label>
            <ion-icon name="trash-outline" color="danger" slot="end"></ion-icon>
        </ion-item>
    </ion-list>
</ion-content>
